# Ejercicio 1

Crear un programa el cual, recibiendo archivos con la información acerca del nombre, área y duracion del curso, muestre la duracion mayor de cada área.

In [1]:
import spark.implicits._
import org.apache.spark.sql.types._

val schema = new StructType().add("nombre", "string").add("area", "string").add("duracion","long")

Intitializing Scala interpreter ...

Spark Web UI available at http://10.0.2.15:4040
SparkContext available as 'sc' (version = 2.4.6, master = local[*], app id = local-1616269140602)
SparkSession available as 'spark'

import spark.implicits._
import org.apache.spark.sql.types._
schema: org.apache.spark.sql.types.StructType = StructType(StructField(nombre,StringType,true), StructField(area,StringType,true), StructField(duracion,LongType,true))

In [2]:
val cursosDF = spark.readStream
    .option("sep",";")
    .schema(schema)
    .csv("/home/vmuser/cursos/")

val cursosDuracionMayor = cursosDF.groupBy("area").agg(max("duracion"))

val query = cursosDuracionMayor.writeStream
    .format("console")
    .outputMode("complete")
    .start()

query.awaitTermination(90000)

cursosDF: org.apache.spark.sql.DataFrame = [nombre: string, area: string ... 1 more field]
cursosDuracionMayor: org.apache.spark.sql.DataFrame = [area: string, max(duracion): bigint]
query: org.apache.spark.sql.streaming.StreamingQuery = org.apache.spark.sql.execution.streaming.StreamingQueryWrapper@5979f6e2
res0: Boolean = false

-------------------------------------------
Batch: 0
-------------------------------------------
+-------+-------------+
|   area|max(duracion)|
+-------+-------------+
| mobile|            7|
|bigdata|            8|
+-------+-------------+

-------------------------------------------
Batch: 1
-------------------------------------------
+-------+-------------+
|   area|max(duracion)|
+-------+-------------+
| mobile|            7|
|bigdata|           10|
+-------+-------------+

In [2]:
query.stop()

<console>: 26: error: not found: value query

# Ejercicio 2

Crear un programa que, recibiendo en tiempo real los archivos adjuntos con nombre "ej2_XXX.json", muestre por pantalla el numero de tweets escritos por cada usuario de mayor a menor.

In [5]:
import spark.implicits._
import org.apache.spark.sql.types._
import java.sql.Timestamp
import org.apache.spark.sql.functions._

val schema = new StructType().add("created_at", TimestampType).add("screen_name","string")
                            .add("text","string")

val tweetsDF = spark.readStream
    .schema(schema)
    .json("/home/vmuser/tweetsStreaming")

val numTweets = tweetsDF.groupBy("screen_name").count().orderBy(desc("count"))

val query = numTweets.writeStream
    .format("console")
    .outputMode("complete")
    .start()

query.awaitTermination(90000)

-------------------------------------------
Batch: 0
-------------------------------------------
+---------------+-----+
|    screen_name|count|
+---------------+-----+
|  ___Cinthya___|   21|
|  SocietyOhShit|   13|
| truelove_larry|    8|
|    IreneDuran_|    7|
|     PalomaC_13|    7|
|    Harrytecojo|    6|
|    NewCampArge|    6|
|  MariaMiniBlue|    6|
|  MercedesPozos|    6|
|   MissNityaGif|    6|
|          93DO_|    6|
|  DianaSarria5_|    5|
|      42Alondra|    5|
|mybritirishboys|    5|
|      OdairsSea|    5|
|       EmBloner|    5|
|  ItsRoWithSwag|    5|
|     biosca_lis|    5|
|  Facts1DOnline|    5|
|      1DMyMundo|    5|
+---------------+-----+
only showing top 20 rows

-------------------------------------------
Batch: 1
-------------------------------------------
+---------------+-----+
|    screen_name|count|
+---------------+-----+
|  ___Cinthya___|   21|
|    Kimberly_VA|   14|
|  SocietyOhShit|   13|
|    Harrytecojo|   12|
|STYLINORANLIKNE|   11|
| truelove_larry|   11|
|   PauBarajas17|   10|
|heartattack__1d|    8|
| BelieveTourswa|    8|
| IWillStillLuvU|    8|
|   Findsitmyway|    7|
|    IreneDuran_|    7|
|     PalomaC_13|    7|
|  ImjustAli1DJB|    7|
|    itsgenesisd|    7|
|MyKidrauhlBitch|    7|
|     NHLPHSLTZM|    7|
|          93DO_|    7|
| PiaMacarenaLOL|    7|
|    rockmeezayn|    7|
+---------------+-----+
only showing top 20 rows

import spark.implicits._
import org.apache.spark.sql.types._
import java.sql.Timestamp
import org.apache.spark.sql.functions._
schema: org.apache.spark.sql.types.StructType = StructType(StructField(created_at,TimestampType,true), StructField(screen_name,StringType,true), StructField(text,StringType,true))
tweetsDF: org.apache.spark.sql.DataFrame = [created_at: timestamp, screen_name: string ... 1 more field]
numTweets: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [screen_name: string, count: bigint]
query: org.apache.spark.sql.streaming.StreamingQuery = org.apache.spark.sql.execution.streaming.StreamingQueryWrapper@353b140c
res3: Boolean = false

-------------------------------------------
Batch: 2
-------------------------------------------
+---------------+-----+
|    screen_name|count|
+---------------+-----+
|  ___Cinthya___|   41|
|    Harrytecojo|   18|
|  SocietyOhShit|   16|
|heartattack__1d|   14|
|    Kimberly_VA|   14|
|       EmBloner|   13|
|    NewCampArge|   12|
|    luciatisera|   12|
| truelove_larry|   12|
|      1DMyMundo|   12|
|STYLINORANLIKNE|   11|
|  Daniela_MSHPT|   11|
|     fixapotato|   10|
|   PauBarajas17|   10|
|          93DO_|   10|
|23Julio2010__1D|    9|
|   MissNityaGif|    9|
| BelieveTourswa|    9|
|  anaarrambidez|    9|
|SwagJonactioner|    9|
+---------------+-----+
only showing top 20 rows

-------------------------------------------
Batch: 3
-------------------------------------------
+---------------+-----+
|    screen_name|count|
+---------------+-----+
|  ___Cinthya___|   41|
|    valepalacio|   36|
|    rockmeezayn|   29|
|    carmencel95|   28|
|CucharasMyWorld|   25|
|   PauBarajas17|   24|
|  OhLaLaCarrots|   23|
|LatinNiallLover|   23|
| CoverGirls_BTR|   23|
|    Nayaretttth|   22|
|        Blaaasi|   21|
|JavierArgueta19|   21|
|    staystro0ng|   20|
| Phrases_Buenas|   20|
|  henderwhore88|   20|
| QueridoCerdito|   20|
|_Latinamerica1D|   18|
|    Harrytecojo|   18|
|      OdairsSea|   18|
|    luciatisera|   18|
+---------------+-----+
only showing top 20 rows

In [1]:
query.stop()

Intitializing Scala interpreter ...

Spark Web UI available at http://10.0.2.15:4040
SparkContext available as 'sc' (version = 2.4.6, master = local[*], app id = local-1616271141147)
SparkSession available as 'spark'

<console>: 26: error: not found: value query